@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
	font-family: "Poppins", sans-serif;
}

body {
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	text-shadow:
		2px 2px 0 #EEA556,
		-2px -2px 0 #EEA556,
		-2px 2px 0 #EEA556,
		2px -2px 0 #EEA556;
}

p {
	text-align: center;
	background-color: #FFF9;
	color: black;
	padding: 1em;
	border-radius: 1em;
}

button {
	cursor: pointer;
	font-family: inherit;
	color: #8E3D4C;
	background-color: #FEA646;
	border: 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	font-weight: 700;
}

.container {
	width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 90vh;
}

.content {
	min-height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: fit-content;
	padding: 1.5em;
}